.wrapperModal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayModal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.contentModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #e74c4c;
  width: 550px;
  min-height: 270px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  color: #FFFFFF;
}

.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #e04040;
}

.headerModal {
  font-size: 24px;
  font-weight: 500;
  padding-left: 20px;
}

.modalCloseButton {
  color: #222428;
  font-size: 20px;
  background-color: #e04040;
  border: none;
  padding-right: 20px;
  cursor: pointer;
 }

.textModal {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 15px;
}

.actionModal {
  height: 60px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
